#container{
    display: grid;
    grid-template-rows:repeat(3,1fr) ;

   width: 50%; 
   height: 300px;
   margin: 25%;
}
#upper{
   background-color: green;
}
#middle{
    background-color: yellow;
}
#lower{
    background-color: red;
}